**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
df = pd.read_csv("Resources/2016-FCC-New-Coders-Survey-Data.csv")
df.head()

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [20]:
# Inspect all columns
df.count()

Age                      13613
AttendedBootcamp         15380
BootcampFinish             933
BootcampFullJobAfter       635
BootcampLoanYesNo          934
BootcampMonthsAgo          631
BootcampName               895
BootcampPostSalary         330
BootcampRecommend          937
ChildrenNumber            2554
CityPopulation           13630
CodeEventBootcamp           42
CodeEventCoffee           2077
CodeEventConferences      2898
CodeEventDjangoGirls        18
CodeEventGameJam            22
CodeEventGirlDev           558
CodeEventHackathons       2422
CodeEventMeetup            313
CodeEventNodeSchool        480
CodeEventNone             8900
CodeEventOther             921
CodeEventRailsBridge       255
CodeEventRailsGirls         14
CodeEventStartUpWknd       743
CodeEventWomenCode         711
CodeEventWorkshop           23
CommuteTime               8339
CountryCitizen           13654
CountryLive              13610
                         ...
PodcastWebAhead             15
ResourceBlogs               30
ResourceBooks              144
ResourceCodeWars          1563
ResourceCodecademy        9586
ResourceCoursera          4844
ResourceDevTips            968
ResourceEdX               3472
ResourceEggHead             29
ResourceFCC              10937
ResourceGoogle              55
ResourceHackerRank          30
ResourceKhanAcademy       3746
ResourceLynda              150
ResourceMDN                 26
ResourceOdinProj          1687
ResourceOther             2093
ResourcePluralSight       3565
ResourceReddit              29
ResourceSkillCrush          36
ResourceSoloLearn           30
ResourceStackOverflow      191
ResourceTreehouse          422
ResourceUdacity           3306
ResourceUdemy             4130
ResourceW3Schools          121
ResourceYouTube            121
SchoolDegree             13679
SchoolMajor               8450
StudentDebtOwe            3514
Length: 113, dtype: int64

In [22]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
columns = [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
extract_df = df.iloc[columns]
extract_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [48]:
#extract_df.AttendedBootcamp.replace(to_replace=[0 ,1], value=['no', 'yes'])
extract_df['AttendedBootcamp'] = extract_df['AttendedBootcamp'].apply(lambda x: 0 if x=='no' else 1)
extract_df.head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [30]:
# Calculate total number of respondents in survey

In [ ]:
# Extract rows corresponding only to people who attended a bootcamp

In [ ]:
# Calculate average age of attendees

# Calculate how many people attended a bootcamp

# Calculate how many attendees hold degrees

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

# Calculate percentage of respondents who attended a bootcamp

# Calculate percentage of respondents belonging to each gender

# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

In [ ]:
# Create a new table consolodating above calculations

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel